#section5-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 90vh;
    min-height: 1000px;
    background-color: #f8f8f8;
    padding: 0;
    margin: 0;

    background-image: url('/images/section5/bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    resize: both;
    background-size: cover;
    box-sizing: border-box;
}

.section5-title {
    /* width: 288px;
height: 74px; */
    font-family: NotoSansCJKkr;
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: center;
    color: #000000;

    margin-top: 6rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    /* justify-content: center; */
    align-items: flex-start;
}

.section5-subtitle {
    /* width: 390px;height: 50px; */
    font-family: NotoSansCJKkr;
    font-size: 34px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.section5-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-content: flex-start; */
}

.section5-item-container {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 1rem;
}

.section5-item-container img {
    object-fit: contain;
    /* align-self: center; */
}

.section5-item-container p {
    /* width: 395px;
height: 50px; */
    font-family: NotoSansCJKkr;
    font-size: 34px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: left;
    color: #5bbabc;

    /* align-self: center; */
    margin-left: 2rem;
}
