#complete-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70vh;
    min-height: 600px;
    background-color: #ffffff;
    box-sizing: border-box;
}

#complete-icon-container {
    flex: 1;
    margin-top: 6rem;
}

#complete-content-container {
    flex: 2;
}

#complete-icon-container img {
    object-fit: contain;
}

#complete-content-container p {
    /* width: 340px;
    height: 134px; */
    /* font-family: 'Noto Sans KR'; */
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #5bbabc;
}

#complete-button-container {
    flex: 1;
}

#complete-button-container button {
    width: 216px;
    height: 69px;
    border-radius: 5px;
    background-color: #5bbabc;
    /* width: 114px;
    height: 29px; */
    /* font-family: 'Noto Sans KR'; */
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

    align-self: center;
}
