#footer-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 1920px; */
    min-height: 336px;
    background-color: #f5f5f5;

    box-sizing: border-box;

    /* align-self: flex-end; */
    justify-self: flex-end;
}

#footer-logo {
    margin-top: 3rem;
}

#footer-info {
    margin-top: 2rem;
    flex: 1;
    /* width: 440px;
height: 72px; */
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #6e6e6e;

    box-sizing: border-box;
}

#footer-links {
    flex: 1;
    box-sizing: border-box;
    margin: 0 2rem;
    justify-self: flex-end;
}

#footer-links span {
    width: 114px;
    height: 22px;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #6e6e6e;
    box-sizing: border-box;

    margign-left: 19px;
    margin-right: 19px;
}
