#section1-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 90vh;
    min-height: 1080px;
    background-color: #60c0bd;

    background-image: url('/images/desktop/section1/bg.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    resize: both;
    background-size: cover;
    box-sizing: border-box;
}


#section1-empty {
    flex: 1;
}

#section1-content {
    flex: 1;
    margin-left: 57px;
}

#section1-logo {
    margin-top: 192px;
}

#section1-logo img {
    width: 254px;
    object-fit: contain;
}

#section1-title {
    /* width: 601px;
    height: 178px; */
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    font-family: 'Noto Sans KR';
    font-size: 60px;
    /* font-size: 4.2rem; */
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

    margin-top: 48px;
}

#section1-subtitle {
    /* width: 537px;
    height: 117px; */
    font-family: 'Noto Sans KR';
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

    margin-top: 23px;
}

#section1-button {
    margin-top: 98px;
    margin-left: 187px;
}

#section1-button button {
    width: 196px;
    height: 69px;
    border-radius: 10px;
    background-color: #ffffff;
    /* width: 110px;
    height: 45px; */
}