body {
    background-color: #5bbabc;
}

#notsupport-container {
    background-color: #5bbabc;
    /* height: 100vh; */
    /* min-height: 100vh; */
}

#notsupport-img-container {
    text-align: center;
}

#notsupport-img-container img {
    margin-top: 172px;
    width: 254px;
    height: 163px;
}

#notsupport-title-container p {
    /* width: 602px; */
    /* height: 178px; */
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    /* font-family: NotoSansCJKkr; */
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: center;
    /* color: var(--white); */
    color: #fff;

    margin-top: 18px;
}

#notsupport-content-container p {
    /* width: 832px; */
    /* height: 234px; */
    /* font-family: NotoSansCJKkr; */
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    /* color: var(--white); */
    color: #fff;

    margin-top: 133px;
    margin-bottom: 182px;
}

#notsupport-content-container p a {
    text-decoration: none;
}

#notsupport-content-container p a:visited {
    text-decoration: none;
    color: #fff;
}

#notsupport-content-container p a:hover {
    text-decoration: none;
    color: #428d8a;
}