#mobile-complete-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 70vh;
    min-height: 340px;
    background-color: #ffffff;
    box-sizing: border-box;
}

#mobile-complete-icon-container {
    /* flex: 1; */
    margin-top: 92px;
}

#mobile-complete-content-container {
    /* flex: 2; */
    margin-top: 12px;
}

#mobile-complete-icon-container img {
    width: 53px;
    object-fit: contain;
}

#mobile-complete-content-container p {
    /* width: 246px; */
    /* height: 97px; */
    /* font-family: 'Noto Sans KR'; */
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #5bbabc;
}

#mobile-complete-button-container {
    /* flex: 1; */
    margin-top: 48px;
}

#mobile-complete-button-container button {
    /* width: 158px; */
    /* height: 40px; */
    border-radius: 5px;
    background-color: #5bbabc;

    /* width: 68px; */
    /* height: 20px; */
    /* font-family: 'Noto Sans KR'; */
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

    padding: 10px 45px;

    align-self: center;
}
